@font-face { font-family: OswaldBook; src: url('oswald/Oswald_Book.otf'); } 

@font-face { font-family: Oranienbaum; src: url('Oranienbaum/Oranienbaum.ttf'); } 

@font-face { font-family: NeoDeco; src: url('NeoDeco/DecoNeue-Light.ttf'); } 

@font-face { font-family: RBNo2; src: url('RBNo2/RBNo2Light.otf'); } 

@font-face { font-family: RBNo2a; src: url('RBNo2/RBNo2Light_a.otf'); } 